.panel-heading {
    border: none;
    background-color: rgb(141, 41, 23); 
}

.shirley {
    background-color: rgb(255, 86, 86); 
}

.tan {
    border-color:rgb(255, 242, 227);
    background-color: rgb(255, 242, 227);
}